BOT_TOKEN=your_telegram_bot_token
CHAT_ID=your_telegram_chat_id
MIN_SLEEP_SECONDS=120
MAX_SLEEP_SECONDS=300

# Chrome Executable Path
# Examples:
# macOS:   /Applications/Google Chrome.app/Contents/MacOS/Google Chrome
# Windows: C:\Program Files\Google\Chrome\Application\chrome.exe
CHROME_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
